@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fundo: #F3ECDE;
  --fonte: #4A2518;
  --vermelho: #4A2518;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--fundo);
}

header{
  width: 100%;
  height: 16vh;
  display: flex;
  flex-direction: column;
}

main{
  height: 74vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

footer{
  height: 10vh;
}

